
@{
    Layout = null;
}

<!DOCTYPE html>


@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> Admin Dashboard</title>

    <!-- Bootstrap Core CSS -->
    <link href="~/Resources/css/rtl/bootstrap.min.css" rel="stylesheet">


    <!-- not use this in ltr -->
    <link href="~/Resources/css/rtl/bootstrap.rtl.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="~/Resources/css/plugins/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="~/Resources/css/plugins/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="~/Resources/css/rtl/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="~/Resources/css/plugins/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="~/Resources/css/font-awesome/font-awesome.min.css" rel="stylesheet" type="text/css">


</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Visitor System Admin</a>
            </div>
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a class="" href="/Dashboard/Index"><i class="fa fa-dashboard fa-fw"></i> داشبورد</a>
                        </li>
                        <li>
                            <a class="" href="/Dashboard/CreateProduct"><i class="fa fa-shopping-cart fa-fw"></i> افزودن محصول</a>
                        </li>
                        <li>
                            <a class="" href="/Dashboard/ViewProducts"><i class="fa fa-shopping-cart fa-fw"></i> مشاهده محصولات</a>
                        </li>
                        <li>
                            <a class="active " href="/Dashboard/CreateVisitor"><i class="fa fa-graduation-cap fa-fw"></i> افزودن ویزیتور</a>
                        </li>

                        <li>
                            <a class="" href="/Dashboard/ViewVisitors"><i class="fa fa-graduation-cap fa-fw"></i> مشاهده ویزیتور ها</a>
                        </li>
                        <li>
                            <a class=" " href="/Dashboard/CreateAgent"><i class="fa fa-shopping-cart fa-fw"></i> افزودن فروشنده</a>
                        </li>
                        <li>
                            <a class=" " href="/Dashboard/ViewAgents"><i class="fa fa-shopping-cart fa-fw"></i> مشاهده فروشندگان</a>
                        </li>

                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <br />
            <br />
            <form class="form-horizontal col-md-6" method="post" enctype="multipart/form-data" role="form">
                <div class="form-body">
                    <div class="form-group">
                        <label class="col-md-3 control-label">نام و نام خانوادگی</label>
                        <div class="col-md-9">
                            <input type="text" name="name_family" class="form-control" placeholder="نام و نام خانوادگی">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">نام کاربری</label>
                        <div class="col-md-9">
                            <div class="input-inline input-medium">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-user"></i>
                                    </span>
                                    <input type="email" name="user_name" class="form-control" placeholder="نام کاربری">
                                </div>
                            </div>
                            <span class="help-inline"> بدون فاصله </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">ایمیل</label>
                        <div class="col-md-9">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-envelope"></i>
                                </span>
                                <input type="email" name="email" class="form-control" placeholder="sample@gmail.com">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">رمز عبور</label>
                        <div class="col-md-9">
                            <div class="input-group">
                                <div class="input-icon">
                                    <i class="fa fa-lock fa-fw"></i>
                                    <input id="newpassword" class="form-control" type="text" name="password" placeholder="password" />
                                </div>
                                <span class="input-group-btn">
                                    <button id="genpassword" class="btn btn-success" type="button">
                                        <i class="fa fa-arrow-left fa-fw"> </i> تصادفی
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">تصویر</label>
                        <div class="col-md-9">
                            <div class="input-inline input-medium">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-user"></i>
                                    </span>
                                    <input type="file" name="photo" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-9">
                            <button type="submit" class="btn green">ثبت اطلاعات</button>
                            <button type="button" class="btn default">کنسل</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
    <!-- jQuery Version 1.11.0 -->
    <script src="~/Resources/js/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="~/Resources/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="~/Resources/js/metisMenu/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="~/Resources/js/raphael/raphael.min.js"></script>
    <script src="~/Resources/js/morris/morris.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="~/Resources/js/sb-admin-2.js"></script>

</body>

</html>


